*{
    margin: 0;
    box-sizing: border-box;
}



header{
    width: 100%;
    position: absolute;
    height: 50px;
/*    border-bottom: 1px solid white; */
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

#logo{
    color: beige;
    font-family: cursive;
    font-size: 30px;
    animation: logoanima 2s infinite linear;
}

@keyframes logoanima {
    0%{
        font-family: cursive;
    }

    25%{
        font-family: fantasy;
    }

    50%{
        font-family: initial;
    }

    100%{
        font-family: monospace;
    }
}

#icon{
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: bisque;
    cursor: pointer;
}

#icon:hover{
    cursor: pointer;
    color: rgb(226, 203, 175);
}
body{
    background: black;
}

p{
    color: bisque;
    font-family: Arial;
    font-size: 20px;
}

h1{
    color: bisque;
    font-family: cursive;
    width: 25%;
    padding-top: 20vh;
    padding-bottom: 3vh;
    font-size: 50px;
    -webkit-text-stroke: 1px rgb(32, 30, 32);
    animation: textim 10s infinite linear;
}

@keyframes textim {
    0%{
        transform: rotate(0deg);
        transform: scale(1,1);
        color: rgb(241, 241, 241);
    }

    25%{
        transform: rotate(2deg);
        color: #a5a5a5;

    }

    50%{
        transform: rotate(-2deg); 
        color: rgb(211, 211, 211);
    }

    75%{
        transform: rotate(2deg); 
        color:rgb(104, 104, 104);
    }

    100%{
        transform: rotate(0deg);
        color: rgb(241, 241, 241);
    }
}

/* section 1*/
.content{
    text-align: left;
    padding-left: 100px;   
    
}

/* PROJECTS */

#txt-projects{
    margin: auto;
    
}
.projects{
    text-align: center;
    border-top: 1px solid white;
}

#video{
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 5%;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: 1s ease;
}

#video:hover{    
    border: 3px solid #475dda;
    transform: scale(1.02);
}
.projects-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 100%;
}